@charset "UTF-8";
@font-face {
  font-family: 'Philosopher';
  src: local("Philosopher"), url("../fonts/Philosopher.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Margot Xtrafette';
  src: local("Margot Xtrafette"), url("../fonts/Margot Xtrafette.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/pattern-background.png);
}

.fontTitle {
  font-size: 64px;
  color: #BDA345;
  font-family: "Philosopher", "Margot Xtrafette";
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
}

@media (max-width: 840px) {
  .fontTitle {
    font-size: 48px;
  }
}

@media (max-width: 640px) {
  .fontTitle {
    font-size: 38px;
  }
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background: linear-gradient(to right, rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main.jpg) no-repeat center top;
}

header .headerContainer {
  max-width: 1200px;
  margin: 0 auto;
}

header .headerContainer .headerMenu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

header .headerContainer .headerMenu .headerMenu__logo img {
  width: 200px;
  height: 130px;
  margin-left: 5px;
}

header .headerContainer .headerMenu .headerMenu__menu ul {
  display: flex;
  font-size: 22px;
  font-family: "Philosopher", "Margot Xtrafette";
  font-weight: 400;
  list-style: none;
}

header .headerContainer .headerMenu .headerMenu__menu ul a {
  position: relative;
  color: #b1afaf;
  text-decoration: none;
  padding: 0 10px;
  cursor: pointer;
}

header .headerContainer .headerMenu .headerMenu__menu ul a:after {
  display: block;
  position: absolute;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 2px;
  /*задаём ширину линии*/
  background-color: #faf755;
  /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out;
  /*задаём время анимации*/
}

header .headerContainer .headerMenu .headerMenu__menu ul a:hover:after, header .headerContainer .headerMenu .headerMenu__menu ul a:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

header .headerContainer .headerMenu .headerMenu__menu ul a:hover {
  color: #fffea7;
}

header .headerContainer .headerMenu .back {
  display: none;
}

header .headerContainer .headerMenu .mini-menu {
  display: none;
}

header .headerContainer .headerMain {
  text-align: center;
}

header .headerContainer .headerMain h1 {
  margin: 0 auto;
  max-width: 800px;
  padding: 120px 5px 40px;
  font-size: 100px;
  color: #fff;
  font-family: "Philosopher", "Margot Xtrafette";
  font-weight: 700;
  text-align: center;
}

header .headerContainer .headerMain p {
  color: #b1afaf;
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 120px;
}

.carouselSection #slider {
  width: 100%;
  height: 465px;
  margin: 50px auto;
  margin-bottom: 140px;
  overflow: hidden;
}

.carouselSection .carousel {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 0;
  /*для того чтоб первый слайдер не дергался рывком*/
  transition: all ease 1s;
  /*для того чтоб слайдер плавно прокручивался*/
}

.carouselSection .carousel img {
  box-sizing: border-box;
  width: 700px;
  height: 465px;
  margin-bottom: 80px;
}

.ingredients {
  background: url(../img/ingredients-back.jpg);
}

.ingredients h2 {
  font-size: 64px;
  color: #BDA345;
  font-family: "Philosopher", "Margot Xtrafette";
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
  color: #fff;
  text-transform: uppercase;
  padding-top: 115px;
}

.ingredients p {
  max-width: 1190px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  padding: 0 15px;
  padding-bottom: 745px;
}

/* ------------------------секцию с нашим меню ---------------------*/
.dishes {
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
}

.dishes-1,
.dishes-2 {
  color: #cc9900;
  font-family: "Yeseva One";
  margin-bottom: 100px;
  max-width: 500px;
}

.dishes-2 {
  width: 500px;
}

.dishes h2 {
  color: #cc4b00;
  font-size: 36px;
  text-align: center;
  margin: 0 0 25px;
}

.dividerGold {
  text-align: center;
}

.dishes h3 {
  margin: 0;
}

.dishes p {
  color: #000;
  font-family: "Lato", "serif";
  font-weight: normal;
  margin-top: 10px;
}

.food {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 0;
}

hr {
  border: 0.5px solid #cc9900;
}

.mainDishes,
.flour {
  margin-top: 70px;
}

.descript {
  background: url(../img/messageBack.jpg) no-repeat center top;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.descript .descript__message {
  max-width: 600px;
  padding: 32vh 0;
  text-align: center;
  color: #13136e;
}

.descript .descript__message h2 {
  font-size: 64px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.descript .descript__message p {
  font-size: 26px;
  font-family: 'Amatic SC', cursive;
  padding-top: 40px;
  font-weight: 700;
}

.deliveryDescription {
  background: url(../img/car-logo.jpg) no-repeat center top;
  background-size: cover;
}

.deliveryDescription p {
  max-width: 500px;
  font-size: 36px;
  color: #fff;
  padding: 315px 72px;
  text-align: center;
  font-family: "Philosopher", "Margot Xtrafette";
  line-height: 75px;
}

.contacts {
  background-color: #201505;
  font-family: "Philosopher", "Margot Xtrafette";
  color: #fff;
  text-align: center;
}

.contacts .contactsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.contacts .contactsContainer h2 {
  padding-top: 80px;
  font-size: 48px;
}

.contacts .contactsContainer p {
  padding-top: 50px;
  font-size: 24px;
}

.contacts .contactsContainer .contactsData {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.contacts .contactsContainer .contactsData span {
  margin-bottom: 80px;
}

.contacts .contactsContainer .contactsData span a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.contacts .contactsContainer .contactsData span a:hover {
  color: #f7fc00;
}

footer {
  background-color: #353232;
}

footer p {
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.bottomUp {
  display: none;
}

.bottomUp .bottom-arrow-up {
  padding: 15px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #eb7d7d;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

@media (max-width: 1410px) {
  .descript .descript__message {
    padding-top: 22vh;
  }
  .descript .descript__message h2 {
    font-size: 48px;
  }
  .descript .descript__message p {
    font-size: 26px;
  }
}

@media (max-width: 1200px) {
  .descript .descript__message {
    max-width: 400px;
  }
  .descript .descript__message h2 {
    font-size: 42px;
  }
  .descript .descript__message p {
    font-size: 26px;
    padding: 25px 5px 0;
  }
  .deliveryDescription {
    background: linear-gradient(to right, rgba(1, 0, 5, 0.4), rgba(240, 238, 238, 0)), url(../img/car-logo.jpg) no-repeat center top;
  }
}

@media (max-width: 1040px) {
  .ingredients {
    height: 1100px;
  }
  .dishes-1,
  .dishes-2 {
    width: 400px;
  }
}

@media (max-width: 992px) {
  header .headerContainer .headerMenu .headerMenu__logo img {
    width: 160px;
    height: 100px;
  }
  header .headerContainer .headerMain h1 {
    max-width: 600px;
    font-size: 90px;
  }
  header .headerContainer .headerMain p {
    font-size: 28px;
  }
}

@media (max-width: 840px) {
  header .headerContainer .headerMenu .mini-menu {
    display: block;
    position: relative;
    right: 15px;
    top: 20px;
    z-index: 101px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  header .headerContainer .headerMenu .mini-menu span {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    margin-top: 3px;
    top: 0;
    left: 0;
    transition: .3s;
  }
  header .headerContainer .headerMenu .mini-menu span:first-child {
    top: 12px;
  }
  header .headerContainer .headerMenu .mini-menu span:last-child {
    top: 6px;
  }
  header .headerContainer .headerMenu .active span:nth-child(2) {
    opacity: 0;
  }
  header .headerContainer .headerMenu .active span:last-child {
    transform: rotate(-45deg);
  }
  header .headerContainer .headerMenu .active span:first-child {
    transform: rotate(45deg);
    top: 7px;
  }
  header .headerContainer .headerMenu .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1b0e09;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    transform: scale(0);
    z-index: 100;
  }
  header .headerContainer .headerMenu header nav .menu li {
    padding-left: 0;
  }
  header .headerContainer .headerMenu .show {
    transform: scale(1);
    padding: 0;
  }
  header .headerContainer .headerMenu .menu li {
    text-align: center;
  }
  header .headerContainer .headerMenu .back {
    display: block;
    color: #fff;
    cursor: pointer;
  }
  header .headerContainer .headerMenu .menu li:first-child {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 10px 0 0;
    font-size: 50px;
    font-family: serif;
  }
  header .headerContainer .headerMenu .menu a {
    font-size: 40px;
    line-height: 80px;
    color: #fff;
  }
  .ingredients {
    height: 1100px;
  }
  .ingredients h2 {
    padding-top: 90px;
  }
  .dishes {
    display: flex;
    margin: 10px 10px 0;
    justify-content: space-between;
  }
  .dishes-1,
  .dishes-2 {
    width: 300px;
  }
  .descript .descript__message {
    padding-top: 100px;
    max-width: 350px;
  }
  .descript .descript__message h2 {
    font-size: 28px;
  }
  .descript .descript__message p {
    font-size: 18px;
    padding-top: 10px;
  }
}

@media (max-width: 700px) {
  .contacts .contactsContainer p {
    line-height: 30px;
    font-size: 22px;
  }
  .contacts .contactsContainer .contactsData {
    flex-direction: column;
    margin: 40px 0 0;
  }
  .contacts .contactsContainer .contactsData span {
    margin: 40px 0 0;
  }
  .contacts .contactsContainer .contactsData span:nth-child(3) {
    padding-bottom: 60px;
  }
  .contacts .contactsContainer .contactsData span a {
    font-size: 22px;
    color: #fffea7;
  }
}

@media (max-width: 630px) {
  header .headerContainer .headerMain h1 {
    max-width: 400px;
    font-size: 60px;
  }
  .ingredients {
    height: 1100px;
    background-position: center;
  }
  .ingredients h2 {
    font-size: 38px;
  }
  .ingredients p {
    line-height: 40px;
    font-size: 28px;
  }
  .fontTitle {
    padding: 20px 0;
  }
  .dishes {
    flex-direction: column;
    align-items: center;
  }
  .dishes h2 {
    font-size: 28px;
  }
  .dishes-1,
  .dishes-2 {
    margin: 0 5px;
    width: 460px;
    margin-bottom: 30px;
  }
  .dishes-1 h3,
  .dishes-2 h3 {
    font-size: 18px;
  }
  .dishes-1 p,
  .dishes-2 p {
    font-size: 18px;
  }
  .mainDishes,
  .flour {
    margin-top: 20px;
  }
  .deliveryDescription {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/car-logo.jpg) no-repeat center top;
  }
  .deliveryDescription p {
    max-width: 500px;
    font-size: 28px;
    padding-top: 90px;
    line-height: 50px;
  }
}

@media (max-width: 470px) {
  .dishes-1,
  .dishes-2 {
    width: 360px;
  }
  .deliveryDescription p {
    font-size: 22px;
    padding: 100px 30px;
    line-height: 45px;
  }
}

@media (max-width: 370px) {
  header .headerContainer .headerMain h1 {
    font-size: 42px;
  }
  header .headerContainer .headerMain p {
    font-size: 28px;
    padding-top: 15px;
  }
  .fontTitle {
    font-size: 32px;
  }
  .dishes-1,
  .dishes-2 {
    width: 300px;
  }
  .deliveryDescription p {
    font-size: 22px;
    padding: 100px 20px;
    line-height: 45px;
  }
}
/*# sourceMappingURL=style.css.map */