@font-face {
    font-family: 'Philosopher';
    src: local("Philosopher"),
    url('../fonts/Philosopher.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Margot Xtrafette';
    src: local('Margot Xtrafette'),
    url('../fonts/Margot\ Xtrafette.ttf');
    font-weight: normal;
    font-style: normal;
}