$font: "Philosopher",
"Margot Xtrafette";
$fontOurMenu: "Yeseva One";
$fontSizeHeading: 120px;
$fontSizeTitle:64px;
$fontSizeSubtitle: 32px;
$fontSizeMenu: 22px;
$colorHeading: #fff;
$colorTitle: #BDA345;
// $colorOurMenu: #cc4b00;
$colorOurMenu: #cc9900;
$colorMenu: #b1afaf;
$fontWeight: 700;
$fontWeightMenu: 400;



// -------------Заголовок на секциях-----------------
@mixin fontTitle {
    font-size: $fontSizeTitle;
    color: $colorTitle;
    font-family: $font;
    font-weight: $fontWeight;
    text-align: center;
    padding: 50px 0;
}