@import '_variables';
@import '_fonts';
@import '_media.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url(../img/pattern-background.png);


}

// --------------заголовки на секциях----------------
.fontTitle {
    @include fontTitle;

    @media (max-width: 840px) {
        font-size: 48px;
    }

    @media (max-width: 640px) {
        font-size: 38px;
    }
}

main {
    max-width: 1920px;
    margin: 0 auto;

}

// ------------------Главная секция ----------------------
header {
    // height: 100vh;
    background: linear-gradient(to right, rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/main.jpg) no-repeat center top;

    // background-size: contain;
    // background-size: 100% 100%;

    // --------------Меню и лого-------------------
    .headerContainer {
        max-width: 1200px;
        margin: 0 auto;

        .headerMenu {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;

            .headerMenu__logo img {
                width: 200px;
                height: 130px;
            }

            .headerMenu__menu ul {
                display: flex;
                font-size: $fontSizeMenu;
                font-family: $font;
                font-weight: $fontWeightMenu;
                list-style: none;

                a {
                    position: relative;
                    color: $colorMenu;
                    // color: $colorHeading;
                    text-decoration: none;
                    padding: 0 10px;
                    cursor: pointer;

                    &:after {
                        display: block;
                        position: absolute;
                        left: 0;
                        /*изменить на right:0;, чтобы изменить направление подчёркивания */
                        width: 0;
                        /*задаём длинну линии до наведения курсора*/
                        height: 2px;
                        /*задаём ширину линии*/
                        background-color: #faf755;
                        /*задаём цвет линии*/
                        content: "";
                        transition: width 0.3s ease-out;
                        /*задаём время анимации*/
                    }

                    &:hover:after,
                    &:focus:after {
                        width: 100%;
                        /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
                    }

                    &:hover {
                        color: rgb(255, 254, 167);
                    }
                }
            }

            .back {
                display: none;
            }

            .mini-menu {
                display: none;
            }
        }

        // -----------------Основной заголовок-----------
        .headerMain {
            text-align: center;

            h1 {
                margin: 0 auto;
                max-width: 800px;
                padding-top: 120px;
                padding-bottom: 40px;
                font-size: $fontSizeHeading;
                color: $colorHeading;
                font-family: $font;
                font-weight: $fontWeight;
                text-align: center;
            }

            p {
                color: $colorMenu;
                font-size: $fontSizeSubtitle;
                padding-top: 30px;
                padding-bottom: 120px;
            }
        }
    }
}


// -------------------------секция с каруселью----------------
// section {
//     height: 100vh;
// }

.carouselSection {
    // background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    //     url(../img/pattern-background.png);

    // ----------------------------слайдер slick slider ------------------------------
    // .carousel {
    //     margin: 0 auto;
    //     display: flex;

    //     .slick-slide {
    //         outline: none;

    //         img {
    //             box-sizing: border-box;
    //             width: 700px;
    //             height: 465px;
    //             margin-bottom: 80px;
    //         }
    //     }
    // }

    // -------------------------------слайдер на чистом js ------------------------
    #slider {
        width: 100%;
        height: 465px;
        // border: 3px solid black;
        margin: 50px auto;
        margin-bottom: 140px;
        overflow: hidden;
    }

    .carousel {
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: 0;
        /*для того чтоб первый слайдер не дергался рывком*/
        transition: all ease 1s;
        /*для того чтоб слайдер плавно прокручивался*/

        img {
            box-sizing: border-box;
            width: 700px;
            height: 465px;
            margin-bottom: 80px;
        }
    }

}

// --------------секция свежие ингредиенты------------------------

.ingredients {
    background: url(../img/ingredients-back.jpg);
    // width: 100vw;
    // height: 100vh;

    h2 {
        @include fontTitle;
        color: $colorHeading;
        text-transform: uppercase;
        padding-top: 115px;
    }

    p {
        max-width: 1190px;
        margin: 0 auto;
        color: $colorHeading;
        text-align: center;
        font-size: 32px;
        line-height: 60px;
        padding: 0 15px;
        padding-bottom: 745px;
    }
}

/* ------------------------секцию с нашим меню ---------------------*/
// .dishesMenu {
//     background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
//         url(../img/pattern-background.png);
// }

.dishes {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
}

.dishes-1,
.dishes-2 {
    // height: 850px;
    color: $colorOurMenu;
    font-family: $fontOurMenu;
    margin-bottom: 100px;
    max-width: 500px;
}

.dishes-2 {
    width: 500px;
}

.dishes h2 {
    color: #cc4b00;
    font-size: 36px;
    text-align: center;
    margin: 0 0 25px;
}

.dividerGold {
    text-align: center;
}

.dishes h3 {
    margin: 0;
}

.dishes p {
    color: #000;
    font-family: "Lato", "serif";
    font-weight: normal;
    margin-top: 10px;
}

.food {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0;
}

hr {
    border: 0.5px solid #cc9900;
}

.mainDishes,
.flour {
    margin-top: 70px;
}

// -------------------------- секция с условиями доставки, выбора и т.д.-------
.descript {
    background: url(../img/messageBack.jpg) no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: center;

    .descript__message {
        max-width: 600px;
        padding: 32vh 0;
        // padding-top: 155px;
        text-align: center;
        color: rgb(19, 19, 110);
        // color: $colorMessage;

        h2 {
            font-size: $fontSizeTitle;
            font-family: 'Amatic SC', cursive;
            font-weight: 700;
        }

        p {
            font-size: 26px;
            font-family: 'Amatic SC', cursive;
            padding-top: 40px;
            font-weight: 700;
        }
    }
}

// ---------------------------секция доставка --------------------------
.deliveryDescription {
    background: url(../img/car-logo.jpg) no-repeat center top;
    background-size: cover;
    // background: linear-gradient(to right, rgba(1, 0, 5, 0.4), rgba(240, 238, 238, 0)),
    //     url(../img/car-logo.jpg) no-repeat center top;

    p {
        max-width: 500px;
        font-size: 36px;
        color: $colorHeading;
        padding: 315px 72px;
        text-align: center;
        font-family: $font;
        line-height: 75px;
    }
}

// ---------------------секция контакты -----------------------------------
.contacts {
    background-color: rgb(32, 21, 5);
    font-family: $font;
    color: $colorHeading;
    text-align: center;


    .contactsContainer {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 10px;

        h2 {
            padding-top: 80px;
            font-size: 48px;
        }

        p {
            padding-top: 50px;
            font-size: 24px;
        }

        .contactsData {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;

            span {
                margin-bottom: 80px;

                a {
                    text-decoration: none;
                    color: $colorHeading;
                    font-size: 26px;

                    &:hover {
                        color: $colorYellow;
                    }
                }
            }
        }
    }

}


// --------------------footer---------------------
footer {
    background-color: rgb(53, 50, 50);

    p {
        color: $colorHeading;
        padding: 30px 0;
        text-align: center;
    }

}

// ---------------кнопка прокрутки вверх страницы-----------
.bottomUp {
    display: none;

    .bottom-arrow-up {
        padding: 15px;
        position: fixed;
        bottom: 25px;
        right: 25px;
        background-color: rgb(235, 125, 125);
        border-radius: 50%;
        cursor: pointer;
        outline: none;
    }
}



// --------------------Медиа запросы--------------------------

@media (max-width: 1410px) {
    .descript {
        .descript__message {
            // background-size: contain;
            padding-top: 22vh;

            h2 {
                font-size: 48px;
            }

            p {
                font-size: 26px;
            }
        }
    }
}



@media (max-width: 1200px) {
    // header {
    //     .headerContainer {
    //         padding: 0 15px;

    //         .headerMain {
    //             h1 {
    //                 font-size: 110px;
    //             }
    //         }
    //     }
    // }

    .descript {
        .descript__message {
            max-width: 400px;

            h2 {
                font-size: 42px;
            }

            p {
                font-size: 26px;
                padding: 25px 5px 0;
            }
        }
    }

    .deliveryDescription {
        background: linear-gradient(to right, rgba(1, 0, 5, 0.4), rgba(240, 238, 238, 0)),
            url(../img/car-logo.jpg) no-repeat center top;
    }
}

@media (max-width: 1040px) {
    .ingredients {
        height: 1100px;
    }

    .dishes-1,
    .dishes-2 {
        width: 400px;
    }

}

@media (max-width: 992px) {
    header {
        .headerContainer {
            .headerMenu {
                .headerMenu__logo img {
                    width: 160px;
                    height: 100px;
                }
            }
        }

        .headerContainer {
            .headerMain {
                h1 {
                    max-width: 600px;
                    font-size: 90px;
                }

                p {
                    font-size: 28px;
                }
            }
        }
    }

}

@media (max-width: 840px) {
    header {
        .headerContainer {
            .headerMenu {
                .mini-menu {
                    display: block;
                    position: relative;
                    right: 15px;
                    top: 20px;
                    z-index: 101px;
                    width: 30px;
                    // height: 13px;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }

                .mini-menu span {
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    margin-top: 3px;
                    top: 0;
                    left: 0;
                    transition: .3s;
                }

                .mini-menu span:first-child {
                    top: 12px;
                }

                .mini-menu span:last-child {
                    top: 6px;
                }

                .active span:nth-child(2) {
                    opacity: 0;
                }

                .active span:last-child {
                    transform: rotate(-45deg);
                }

                .active span:first-child {
                    transform: rotate(45deg);
                    top: 7px;
                }

                .menu {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    background: #1b0e09;
                    top: 0;
                    left: 0;
                    flex-direction: column;
                    justify-content: center;
                    transition: 0.5s;
                    transform: scale(0);
                    z-index: 100;

                }

                header nav .menu li {
                    padding-left: 0;
                }

                .show {
                    transform: scale(1);
                    padding: 0;
                }

                .menu li {
                    text-align: center;
                }

                .back {
                    display: block;
                    color: $colorHeading;
                    cursor: pointer;

                }

                .menu li:first-child {
                    position: fixed;
                    top: 0;
                    right: 0;
                    padding: 0 10px 0 0;
                    font-size: 50px;
                    font-family: serif;
                }

                .menu a {
                    font-size: 40px;
                    line-height: 80px;
                    color: $colorHeading;
                }
            }
        }
    }

    .ingredients {
        height: 1100px;

        h2 {
            padding-top: 90px;
        }
    }

    .dishes {
        display: flex;
        margin: 10px 10px 0;
        justify-content: space-between;
    }

    .dishes-1,
    .dishes-2 {
        width: 300px;
    }

    .descript {
        .descript__message {
            padding-top: 100px;
            max-width: 350px;

            h2 {
                font-size: 28px;
            }

            p {
                font-size: 18px;
                padding-top: 10px;
            }
        }
    }
}

@media (max-width: 700px) {
    .contacts {
        .contactsContainer {

            p {
                line-height: 30px;
                font-size: 22px;
            }

            .contactsData {
                flex-direction: column;
                margin: 40px 0 0;


                span {
                    margin: 40px 0 0;


                    &:nth-child(3) {
                        padding-bottom: 60px;
                    }

                    a {
                        font-size: 22px;
                        color: rgb(255, 254, 167);
                    }
                }

            }
        }
    }
}

@media (max-width: 630px) {
    header {
        // .headerContainer {
        //     .headerMenu {
        //         .headerMenu__logo img {
        //             width: 160px;
        //             height: 100px;
        //         }
        //     }
        // }

        .headerContainer {
            .headerMain {
                h1 {
                    max-width: 400px;
                    font-size: 60px;
                }
            }
        }
    }

    .ingredients {
        height: 1100px;
        background-position: center;

        h2 {
            font-size: 38px;
        }

        p {
            line-height: 40px;
        }
    }

    .fontTitle {
        padding: 20px 0;
    }

    .dishes {
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 28px;
        }
    }

    .dishes-1,
    .dishes-2 {
        margin: 0 5px;
        width: 460px;
        margin-bottom: 30px;

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 18px;
        }
    }

    .mainDishes,
    .flour {
        margin-top: 20px;
    }

    .deliveryDescription {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../img/car-logo.jpg) no-repeat center top;

        p {
            max-width: 500px;
            font-size: 28px;
            padding-top: 90px;
            line-height: 50px;
        }
    }


}

@media (max-width: 470px) {

    .dishes-1,
    .dishes-2 {
        width: 360px;
    }

    .deliveryDescription {

        p {
            font-size: 22px;
            padding: 100px 30px;
            line-height: 45px;
        }
    }
}

@media (max-width: 370px) {

    header {
        .headerContainer {
            .headerMain {
                h1 {
                    font-size: 42px;
                }

                p {
                    font-size: 28px;
                    padding-top: 15px;
                }
            }
        }
    }

    .fontTitle {
        font-size: 32px;
    }

    .dishes-1,
    .dishes-2 {
        width: 300px;
    }

    .deliveryDescription {

        p {
            font-size: 22px;
            padding: 100px 20px;
            line-height: 45px;
        }
    }
}